{% extends 'base.html.twig' %}

{% block title %}acceuil{% endblock %}

{% block body %}
    <header>
        <nav id="logo_home" class="navbar fixed-top">
            <div class="container-fluid d-flex justify-content-around">
                <div>
                    <i class="bi bi-ui-radios-grid"></i>
                </div>
    
                <a class="navbar-brand text-dark" href="#">ACME</a>
                <div style="width: 16px; ">
                
                </div>
            </div>
        </nav>
    </header>


    <footer>
            <nav class="navbar fixed-bottom navbar-light" id="navigation" >
                <div class="container-fluid w-100">
                    <ul class="nav justify-content-between w-100" >
                        <li class="nav-item">
                            <a class="nav-link text-black" href="#">
                                <i class="bi bi-house"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="#">
                                <i class="bi bi-basket"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="#">
                                <i class="bi bi-search"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black" href="#">
                                <i class="bi bi-person"></i>
                            </a>
                        </li>
                    </ul>    
                </div>

            </div>
            
        </nav>
    </footer>
{% endblock %}
